#booksSelect {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid black;
    outline: none;
    width: 180px;
    height: 35px;
    font-size: 25px;
    margin-top: 20px;
    padding: 0px 0px 0px 5px;
    cursor: pointer;
    text-align: center;
}
#titleThreeSpan {font-size: 25px;}
#titleTwoSpan {font-size: 25px;}
#titleOneSpan {
    font-size: 60px;
    font-weight: 600;
}
#upComingSpan {
    font-size: 25px;
    font-weight: 700;
    user-select: text;
}
.books {
    height: 400px;
    width: 320px;
    margin: 30px 40px 30px 40px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 5px grey;
    cursor: pointer;
    background-size: cover;
}
#contentSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0px 50px 0px;
}
#sweatAndWizdomSection {
    width: 1200px;
    border-radius: 20px;
    height: fit-content;
    background-color: white;
    position: relative;
    padding: 50px 50px 70px 50px;
    box-shadow: 0px 5px 20px 10px grey;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: -5px 0px 0px 0px;
}
#underLineNav {
    width: 100px;
    height: 5px;
    background-color: rgb(140, 0, 0);
    position: relative;
    top: -48px;
    right: -202px;
}
body {
    user-select: none;
    height: fit-content;
    background: rgb(200, 200, 200);
    font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (max-width: 1893px) {#underLineNav {right: -132px;}}