#theLastSupperContainer {
    width: fit-content;
    height: 453px;
}
.suggetions {
    height: 35px;
    width: 720px;
    text-align: left;
    padding: 15px 0px 0px 10px;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
}
.suggetions:hover {background-color: rgba(0, 0, 0, 0.25);}
#nutriSuggetions {
    display: none;
    min-height: 50px;
    width: 730px;
    background-color: white;
    border: 1px solid black;
    border-top: none;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px black;
    top: -2750px;
    right: 210px;
}
#moreNutritionServices {
    width: fit-content;
    cursor: url("NutritionMedia/sandTimer.png"), auto;
}
#upComingSpan {
    font-size: 25px;
    font-weight: 700;
    user-select: text;
}
#manOnDesk {
    border-radius: 100%;
    height: 300px;
    width: 300px;
    top: 0px;
    margin-top: 10px;
}
#dailyCaloriesClosingTag {
    position: relative;
    top: -355px;
    right: -242px;
    font-size: 25px;
    color: rgb(160, 82, 170);
    font-weight: 900;
    cursor: pointer;
}
#dailyCaloriesInputButton {
    height: 50px;
    width: 120px;
    font-size: 25px;
    color: white;
    background-color: rgb(160, 82, 170);
    border-radius: 20px;
    border: none;
    transition: background 0.2s, color 0.2s, width 0.2s;
    cursor: pointer;
    position: relative ;
    top: -40px;
    visibility: hidden;
}
#dailyCaloriesInputButton:hover {
    color: black;
    background-color: rgb(224, 179, 230);
    width: 160px;
}
#dailyCaloriesInput {
    font-size: x-large;
    width: 300px;
    height: 50px;
    padding: 0px 0px 0px 10px;
    margin-bottom: 7px;
    border-top: #ffffff;
    border-right: #ffffff;
    border-left: #ffffff;
    border-bottom: 1px solid rgb(140, 0, 0);
    background-color: white;
    text-decoration: none;
    position: relative;
    top: -55px;
    visibility: hidden;
}
#dailyCaloriesPara {
    font-size: 30px;
    user-select: text;
}
#dailyCaloriesNo, #dailyCaloriesYes, #dailyCaloriesGo {
    height: 45px;
    width: 120px;
    font-size: 25px;
    color: white;
    background-color: rgb(160, 82, 170);
    border-radius: 20px;
    border: none;
    transition: background 0.2s, color 0.2s;
    cursor: pointer;
    margin: 0px 10px 0px 10px;
}
#dailyCaloriesNo:hover, #dailyCaloriesYes:hover, #dailyCaloriesGo:hover {
    color: black;
    background-color: rgb(224, 179, 230);
}
#dailyCaloriesDiv {
    box-shadow: 0px 0px 20px 5px grey;
    width: 500px;
    height: 250px;
    position: relative;
    top: -320px;
    border-radius: 30px;
    background-color: white;
    padding: 10px 20px 20px 20px;
    visibility: hidden;
    opacity: 0;
    transition: top 0.3s, opacity 0.3s;
}
.nutritionPara {
    font-size: 25px;
    font-weight: 100;
    font-family: arial;
    user-select: text;
}
.nutritionHeadings {
    font-size: 40px;
    font-weight: 700;
    user-select: text;
}
.headingParaDiv {
    position: relative;
    right: 430px;
    width: 550px;
}
#nutritionDictionnary {
    margin-bottom: 100px;
}
#healthyFoodNutritionDiv, #dietsNutritionDiv,
#iBulkNutritionDictionaryNutritionDiv {
    position: relative;
    right: -80px;
}
#unhealthyFoodIMG, #personalMealPlanIMG{
    position: relative;
    right: -650px;
    cursor: pointer;
}
.nutritionDivs {
    height: 400px;
    width: 1000px;
    margin: 50px 0px 50px 0px;
    padding: 0px 50px 0px 50px;
    display: flex;
    /* border: 2px solid black; */
}
.nutritionIMGS {
    height: 400px;
    width: 400px;
    border-radius: 100%;
    background-color: black;
    position: relative;
    top: 0px;
    right: 50px;
    box-shadow: 0px 0px 20px 5px grey;
    cursor: pointer;
}
.nutritionIMGS:hover {
    box-shadow: 0px 0px 30px 10px grey;
}
#question {
    height: 55px;
    width: 55px;
    background-color: rgb(140, 0, 0);
    border-radius: 50%;
    font-size: 25px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    position: relative;
    top: -20px;
    box-shadow: 0px 0px 30px 5px grey;
    transition: color 0.1s, background 0.1s;
}
#question:hover {
    color: black;
    background-color: white;
}
#search {
    width: 300px;
    height: 55px;
    background-color: black;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 600;
    color: white;
    position: relative;
    top: -20px;
    cursor: pointer;
    margin: 0px 25px 0px 0px;
    box-shadow: 0px 0px 30px 5px grey;
    transition: color 0.1s, background 0.1s;
}
#search:hover {
    color: black;
    background-color: white;
}
#nutritionSearch {
    white-space: nowrap;
    overflow-x: hidden;
    resize: none;
    width: 700px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0px 0px 30px 5px grey;
    font-size: 25px;
    padding: 10px 10px 0px 20px;
    margin: 0px 30px 0px 0px;
}
#nutritionSearchForm {margin: 20px 30px 30px 30px;}
#fatherTitle {
    font-family: arial;
    font-size: 40px;
    font-weight: 600;
}
#theLastSupper {
    width: 1300px;
    height: 453px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    top: 0px;
}
#nutritionSectionDiv {
    width: 1300px;
    border-radius: 20px;
    height: 3400px;
    background-color: white;
    position: relative;
    box-shadow: 0px 5px 20px 10px grey;
    margin: -5px 0px -3px 0px;
}
#underLineNav {
    width: 100px;
    height: 5px;
    background-color: rgb(140, 0, 0);
    position: relative;
    top: -48px;
    right: -47px;
}
body {
    user-select: none;
    height: 1500px;
    background: rgb(200, 200, 200);
    font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (max-width: 1893px) {#underLineNav {right: 16px;}}