#no {
    width: 100px;
    height: 50px;
    background-color: rgb(140, 0, 0);
    color: white;
    margin-left: 20px;
    border-radius: 30px;
    font-size: 20px;
    transition: width 0.2s, background 0.2s, border 0.2s, color 0.2s;
    cursor: pointer;
    border: none;
}
#yes {
    width: 100px;
    height: 50px;
    background-color: rgb(140, 0, 0);
    color: white;
    margin-right: 20px;
    border-radius: 30px;
    font-size: 20px;
    transition: width 0.2s, background 0.2s, border 0.2s, color 0.2s;
    cursor: pointer;
    border: none;
}
#yes:hover, #no:hover {
    width: 120px;
    background-color: white;
    border: 2px solid black;
    color: black;
}
#continueMusic {
    margin-top: 80px;
    visibility: hidden;
    background-color: white;
    width: 500px;
    height: auto;
    padding: 30px 30px 30px 30px;
    border-radius: 30px;
    box-shadow: inset 0 0 20px 10px rgba(0, 0, 0, 0.5);
}
#continueMusicBackground {
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    visibility: hidden;
}
#musicLyrics::-webkit-scrollbar {
    margin-top: 20px;
    width: 10px;
}
#musicLyrics::-webkit-scrollbar-track {visibility: hidden;}
#musicLyrics::-webkit-scrollbar-thumb {visibility: hidden;}
#Lyrics {
    font-size: 1.2vw;
    font-weight: 700;
}
#musicLyricsParagraph {
    font-size: 1.1vw;
    color: grey;
}
#quotesParagraph {font-size: 20px;}
#BestMotivationalQuotes {
    font-size: 1.1vw;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
#quotesParagraph {font-size: 1vw;}
#quotes {
    overflow-y: auto;
    position: fixed;
    top: 665px;
    right: 20px;
    width: 13%;
    height: 220px;
    background-color: white;
    border: 2px solid rgb(140, 0, 0);
    color: black;
    border-radius: 30px;
    box-shadow: 0px 0px 15px 5px grey;
    padding: 15px 5px 15px 5px;
    user-select: text;
}
#musicLyrics {
    position: fixed;
    top: 217px;
    width: 12%;
    height: 660px;
    background-color: white;
    border: 2px solid rgb(140, 0, 0);
    color: black;
    border-radius: 30px;
    box-shadow: 0px 0px 15px 5px grey;
    left: 0px;
    margin-left: 18px;
    padding: 20px 10px 20px 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    user-select: text;
}
#videoButton {
    height: 50px;
    width: 98%;
    background-color: rgb(140, 0, 0);
    color: white;
    font-size: 20px;
    font-weight: 500px;
    border-radius: 30px;
    margin: 15px 2px 15px 0px;
    border: none;
    cursor: pointer;
}
#videoButton:hover {
    background-color: white;
    color: rgb(140, 0, 0);
    border: 2px solid rgb(140, 0, 0);
}
#selectedVideo {
    width: 101.9%;
    box-shadow: 0px 0px 15px 5px grey;
    border-radius: 30px;
    height: 500px;
    margin: 0px 0px 0px -3px;
}
#videoSelect {
    font-size: 18px;
    font-weight: 300;
    height: 50px;
    width: 96.1%;
    border: 1px solid rgb(140, 0, 0);
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
    cursor: pointer;
    box-shadow: 0px 0px 15px 5px grey;
}
#videoSection {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 13.7%;				
}
#musicButton {
    height: 50px;
    width: 96.1%;
    background-color: rgb(140, 0, 0);
    color: white;
    font-size: 20px;
    font-weight: 500px;
    border-radius: 30px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
}
#musicButton:hover {
    background-color: white;
    color: rgb(140, 0, 0);
    border: 2px solid rgb(140, 0, 0);
}
#selectedMusic {
    width: 96.1%;
    box-shadow: 0px 0px 15px 5px grey;
    border-radius: 30px;
}
#musicSelect {
    font-size: 18px;
    font-weight: 300;
    height: 50px;
    width: 96.1%;
    border: 1px solid rgb(140, 0, 0);
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
    cursor: pointer;
    box-shadow: 0px 0px 15px 5px grey;
    margin-top: 10px;
}
#musicSection {
    top: 20px;
    width: 13.7%;
    left:0px;
    margin-left: 20px;
    position: fixed;
}