.services-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.services-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.services-title {
    font-size: var(--main-title-font-size);
    font-weight: 600;
}

.services-description {
    font-size: var(--main-description-font-size);
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 100px 0px;
    width: 75%;
}

.no-available-service {
    font-size: 25px;
}

.services-count {
    font-size: 20px;
    color: var(--main-sub-dark-color);
}

.special-service-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 30px;
    margin-bottom: 50px;
}

.special-service-title {
    font-size: 30px;
    font-weight: 700;
}

.special-service-input {
    width: 700px;
    border: 1px solid gray;
    background-color: rgb(240, 240, 240);
    font-size: 25px;
    color: black;
    border-radius: var(--main-border-radius);
    padding: 20px;
    resize: vertical;
    min-height: 100px;
    align-self: center;
}

.special-service-send {
    font-size: 25px;
    font-weight: 700;
    color: white;
    background-color: black;
    border: 1px solid black;
    transition: var(--main-transition);
    padding: 12px 40px;
    width: fit-content;
    cursor: pointer;
    align-self: center;
    border-radius: var(--main-border-radius);
}

.special-service-send:hover {
    background-color: white;
    color: black;
}

@media only screen and (max-width: 800px) {
    .special-service-container {
        width: 90%;
    }

    .special-service-input {
        width: calc(100% - 40px);
    }
}

@media only screen and (max-width: 500px) {
    .services-text-container {
        width: 90%;
    }
    
    .services-title {
        font-size: 35px;
    }

    .services-description {
        font-size: 20px;
    }

    .services-section {
        margin-top: 100px;
    }

    .special-service-title {
        font-size: 25px;
    }

    .special-service-input {
        font-size: 20px;
        min-height: 200px;
    }
}