.program-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: var(--main-border-radius);
    width: 1300px;
    height: 300px;
    box-shadow: grey 0px 0px 10px 5px;
    cursor: pointer;
    transition: scale var(--main-transition);
    overflow: hidden;
}

.program-card:hover {
    scale: 1.03;
}

.program-image {
    width: 600px;  /* fixed width */
    height: 100%;  /* matches card height */
    object-fit: cover; /* crop if necessary */
    border-bottom-left-radius: 28px;
    border-top-left-radius: 28px;
    flex-shrink: 0; /* prevent shrinking on flex layout */
}


.program-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.program-title {
    font-size: 30px;
    font-weight: 700;
}

.program-description {
    font-size: 20px;
    color: var(--main-sub-dark-color);
}

.program-attrs-container {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 700;
}

.program-attr-word {
    color: var(--main-color);
}

.program-attr-icon {
    height: 15px;
    width: 15px;
}

@media only screen and (max-width: 1700px) {
    .program-card {
        width: 100%;
    }
}

@media only screen and (max-width: 1100px) {
    .program-card {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .program-image {
        width: 100%;
        height: 300px;
        border-radius: 0px;
        border-top-right-radius: 28px;
        border-top-left-radius: 28px;
    }
}

@media only screen and (max-width: 1100px) {
    .program-title {
        font-size: 23px;
    }

    .program-description {
        font-size: 15px;
    }

    .program-attrs-container {
        font-size: 18px;
    }
}