#caloriesParagraph {
    user-select: text;
}
#checkItRightNow {
    color: rgb(140, 0, 0);
    text-decoration: underline;
}
.extraButtons {
    background: black;
    cursor: pointer;
    color: white;
    border-radius: 30px;
    height: 60px;
    width: 190px;
    font-size: 25px;
    margin: 50px 30px 0px 30px;
}
.extraButtons:hover {
    color: black;
    background-color: white;
    border: 2px solid black;
}
#suggetion {
    user-select: text;
    font-size: 25px;
    font-weight: 400;
    position: relative;
}
#moreInfo {
    font-size: 30px;
    font-weight: 500;
    position: relative;
}
#resultDivParagraph {
    margin: 0px 0px 0px 0px;
    user-select: text;
    position: relative;
    font-size: 25px;
    font-size: 400;
}
#caloriesDiv {
    visibility: hidden;
    font-size: 30px;
    font-weight: 700;
    margin: -600px 0px 0px 0px;
}
.numberOfCalories {
    color: rgb(140, 0, 0);
}
#calculatorClosingTag {
    font-size: 40px;
    font-weight: 700;
    position: relative;
    right: -280px;
    top: 20px;
    cursor: pointer;
}
#calculatorForm {
    height: 845px;
    width: 650px;
    border-radius: 50px;
    background-color: rgb(230, 230, 230);
    position: relative;
    top: -120px;
    visibility: hidden;
}
.calculatorButtons {
    position: relative;
    background-color: rgb(140, 0, 0);
    color: white;
    height: 70px;
    width: 200px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    margin: 60px 20px 0px 20px;
    visibility: hidden;
}
.calculatorButtons:hover {
    background-color: rgb(230, 230, 230);
    color: black;
    border: 1px solid black;
}
#activitySelect {
    position: relative;
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    width: 463px;
    border: 1px solid rgb(140, 0, 0);
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
    cursor: pointer;
    margin: 60px 0px 50px 0px;
}
textarea:focus, select:focus{
    outline: none;
}
#male, #female {
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(140, 0, 0);
    color: black;
    font-size: 30px;
    height: 70px;
    width: 200px;
    position: relative;
    cursor: pointer;
    visibility: hidden;
    margin: 50px 30px 60px 30px;
}
#age, #height, #weight {
    font-size: x-large;
    width: 450px;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    border-right: #ffffff;
    border-left: #ffffff;
    border-top: #ffffff;
    border-bottom: 1px solid rgb(140, 0, 0);
    background-color: rgb(230, 230, 230);
    text-decoration: none;
    visibility: hidden;
    user-select: text;
}
textarea:focus, input:focus{
    outline: none;
}
#introParagraph {
    user-select: text;
    font-size: 30px;
    font-weight: 500;
    position: relative;
}
#calculatorDiv {
    background-image: url("../ProjectPictures/FitnessPictures/calculatorImage.jpg");
    width: 1300px;
    height: 845px;
    position: relative;
    box-shadow: 0px 0px 20px 15px grey;
}
#doYourBody {
    user-select: text;
    font-weight: 900;
    font-size: 40px;
    position: relative;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#calculatorButton {
    color: black;
    font-size: 25px;
    font-weight: 600;
    height: 70px;
    width: 200px;
    border: none;
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
    position: relative;
    margin-top: 50px;
    transition: width 0.3s, background 0.3s, color 0.3s ;
}
#calculatorButton:hover {
    color: white;
    background-color: black;
    width: 250px;
}