.frontMuscles, .baackMuscles {
    opacity: 0;
    cursor: pointer;
    visibility: visible;
}
#quadracepsOne, #quadracepsTwo {
    background-color: pink;
    color: white;
    position: relative;
    height: 195px;
    width: 55px;
    top: -372px;
    border-top-right-radius: 200px 900px;
    border-top-left-radius: 200px 900px;
    border-bottom-right-radius: 200px 500px;
    border-bottom-left-radius: 200px 500px;
}
#quadracepsOne {
    right: -132px;
    transform: rotate(-4deg);
}
#quadracepsTwo {
    right: -173px;
    transform: rotate(4deg)
}
#abs {
    background-color: blue;
    color: white;
    position: relative;
    top: -542px;
    right: -58px;
    height: 144px;
    width: 63px;
    border-bottom-right-radius: 20px 60px;
    border-bottom-left-radius: 20px 60px;
}
#chestOne, #chestTwo {
    background-color: black;
    color: white;
    position: relative;
    top: -686px;
    height: 70px;
    width: 70px;
    border-radius: 100%;
}
#chestOne {right: -20px;}
#chestTwo {right: 125px;}
#bicepsOne, #bicepsTwo {
    background-color: green;
    color: white;
    position: relative;
    top: -634px;
    height: 80px;
    width: 40px;
    border-radius: 30px;
}
#bicepsOne {
    right: 257px;
    transform: rotate(35deg);
}
#bicepsTwo {
    right:88px;
    transform: rotate(-35deg);
}
#calvesOne, #calvesTwo {
    background-color: yellow;
    color: white;
    position: relative;
    top: -290px;
    height: 70px;
    width: 45px;
    border-radius: 20px;
}
#calvesOne {right: 304px;}
#calvesTwo {right: 234px;}
#shouldersOne, #shouldersTwo {
    background-color: orange;
    color: white;
    position: relative;
    top: -703px;
    height: 65px;
    width: 28px;
    border-radius: 20px;
}
#shouldersOne {
    right: 415px;
    transform: rotate(40deg);
}
#shouldersTwo {
    right: 290px;
    transform: rotate(-40deg);
}
#forearmsOne, #forearmsTwo {
    background-color: cyan;
    color: white;
    position: relative;
    top: -560px;
    height: 90px;
    width: 35px;
    border-radius: 20px;
}
#forearmsOne {
    right: 560px;
    transform: rotate(30deg);
}
#forearmsTwo {
    right: 296px;
    transform: rotate(-30deg);
}
#trapsOne, #trapsTwo{
    background-color: brown;
    color: white;
    position: relative;
    top: -760px;
    height: 20px;
    width: 30px;
    border-radius: 100px;	
}
#trapsOne {right: 525px;}
#trapsTwo {right: 482px;}
#obliquesOne, #obliquesTwo {
    background-color: red;
    color: white;
    position: relative;
    top: -580px;
    height: 90px;
    width: 30px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
#obliquesOne {
    right: 505px;
    transform: rotate(-4deg);	
}
#obliquesTwo {
    right: 640px;
    transform: rotate(4deg);	
}
#obliquesThree, #obliquesFour {
    background-color: red;
    color: white;
    position: relative;
    top: -647px;
    right: 548px;
    height: 50px;
    width: 30px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
#obliquesThree{
    right: 570px;
    transform: rotate(30deg);
}
#obliquesFour{
    right: 720px;
    transform: rotate(-30deg);	
}
#latsOne ,#latsTwo, #latsThree, #latsFour{
    background-color: red;
    color: white;
    position: relative;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
#latsOne {
    top: -440px;
    right: 160px;
    height: 170px;
    width: 35px;
}
#latsTwo{
    top: -440px;
    right: 110px;
    height: 170px;
    width: 35px;
}
#latsThree{
    top: -508px;
    right: 255px;
    height: 90px;
    width: 50px;
    transform: rotate(-20deg);
}
#latsFour{
    top: -508px;
    right: 208px;
    height: 90px;
    width: 50px;
    transform: rotate(20deg);
}
#backTraps {
    background-color: brown;
    color: white;
    position: relative;
    top: -610px;
    right: 50px;
    height: 25px;
    width: 90px;
    border-radius: 20px;
}
#backForearmsOne, #backForearmsTwo {
    background-color: cyan;
    color: white;
    position: relative;
    top: -420px;
    height: 100px;
    width: 35px;
    border-radius: 20px;
    transform: rotate(30deg);
}
#backForearmsOne {
    right: 90px;
    transform: rotate(30deg);
}
#backForearmsTwo {
    right: -170px;
    transform: rotate(-30deg);
}
#backShouldersOne, #backShouldersTwo {
    background-color: orange;
    color: white;
    position: relative;
    top: -570px;
    height: 60px;
    width: 28px;
    border-radius: 20px;	
    transform: rotate(50deg);
}
#backShouldersOne {
    right: -55px;
    transform: rotate(60deg);
}
#backShouldersTwo {
    right: -175px;
    transform: rotate(-60deg);
}
#backCalvesOne, #backCalvesTwo {
    background-color: yellow;
    color: white;
    position: relative;
    top: -140px;
    height: 70px;
    width: 45px;
    border-radius: 20px;
}
#backCalvesOne {right: -163px;}
#backCalvesTwo {right: -233px;}
#tricepsOne, #tricepsTwo {
    background-color: green;
    color: white;
    position: relative;
    top: -507px;
    height: 75px;
    width: 40px;
    border-radius: 30px;
    transform: rotate(35deg);
}
#tricepsOne {
    right: -213px;
    transform: rotate(35deg);
}
#tricepsTwo {
    right: -374px;
    transform: rotate(-35deg);
}
#lowerTraps {
    background-color: black;
    color: white;
    position: relative;
    top: -540px;
    right: -373px;
    height: 68px;
    width: 60px;
    border-bottom-right-radius: 900px 900px;
    border-bottom-left-radius: 900px 900px;
    border-top-right-radius: 100px 100px;
    border-top-left-radius: 100px 100px;
}
#lowerBack {
    background-color: white;
    color: white;
    position: relative;
    top: -440px;
    right: -440px;
    height: 100px;
    width: 60px;
    border-top-right-radius: 700px 900px;
    border-top-left-radius: 700px 900px;
    border-bottom-right-radius: 400px 500px;
    border-bottom-left-radius: 400px 500px;
}
#glute {
    background-color: blue;
    color: white;
    position: relative;
    top: -370px;
    right: -538px;
    height: 77px;
    width: 130px;
    border-top-right-radius: 700px 900px;
    border-top-left-radius: 700px 900px;
    border-bottom-right-radius: 400px 500px;
    border-bottom-left-radius: 400px 500px;
}
#hamstringsOne, #hamstringsTwo {
    background-color: pink;
    color: white;
    position: relative;
    top: -238px;
    height: 130px;
    width: 70px;
    border-bottom-right-radius: 200px 900px;
    border-bottom-left-radius: 200px 900px;
    border-top-right-radius: 200px 500px;
    border-top-left-radius: 200px 500px;
}
#hamstringsOne {
    right: -673px;
    transform: rotate(4deg);
}
#hamstringsTwo {
    right: -690px;
    transform: rotate(-4deg);
}