#navigationDiv {
    display: inline-block;
    background: #ffffff;
    font-size: 25px;
    margin: -8px 0px 0px 0px;	
    height: 80px;
    width: 1300px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 20px 10px grey;
}
#navLinksContainer {margin: 0px 0px 0px 10px;}
#logoAndiBulk {margin: 0px 0px 0px 10px;}
#login {
    float: right;
    height: 50px;
    width: 140px;
    background: rgb(140, 0, 0);
    border-radius: 30px;
    color: white;
    font-size: 22px;
    font-weight: 30px;
    cursor: pointer;
    border: none;
    position: relative;
    top: -60px;
    right: 30px;
    margin: 0px 30px 0px 0px;
}
#login:hover {
    border: 2px solid rgb(140, 0, 0);
    background-color: white;
    color: black;
}
#logo {
    height: 40px;
    width: 61px;
    position: relative;
    right: 560px;
    top: 7px;
}
#iBulk {
    font-family:'Times New Roman', Times, serif;
    font-size: 23px;
    position: relative;
    right: 560px;
    top: 0px;
}
#media {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -52px;
    right: -50px;
    margin: 0px 23px 0px 23px;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
#media::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 5px;
    bottom: -10px;
    background-color: rgb(140, 0, 0);
    transform: scaleX(0);
    transition: transform 0.1s ease;
}
#media:hover::before {transform: scaleX(1);}
#media:hover {color: rgb(140, 0, 0);}
.links {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -52px;
    right: -50px;
    margin: 0px 26px 0px 26px;
    font-size: 25px;
    cursor: pointer;
}
.links::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 5px;
    bottom: -10px;
    background-color: rgb(140, 0, 0);
    transform: scaleX(0);
    transition: transform 0.1s ease;
}
.links:hover::before {transform: scaleX(1);}
.links:hover {color: rgb(140, 0, 0);}

#home::before {right: -15px;}
#programs::before {right: 5px;}
#workout::before {right: -4px;}
#nutrition::before {right: -3px;}
#services::before {right: -3px;}
#about::before {right: -16px;}
#media::before {right: -16px;}
#contactUs::before {right: 10px;}