#questionStyle {font-size: 20px;}
#finishQuiz {
	color: rgb(5, 184, 184);
	cursor: pointer;
	font-size: 25px;
	font-weight: 500;
}
#finishQuiz:hover {color: white;}
#quizContainer {
	height: fit-content;
	width: fit-content;
	border-radius: 0px;
	position: relative;
	visibility: hidden;
	opacity: 1;
	transition: opacity 1s;
	position: relative;
	top: -100px;
}
#questionDiv {
	width: 810px;
	height: 130px;
	border-radius: 30px;
	border: 5px solid rgb(5, 184, 184);
	position: relative;
	background-color: black;
	color: white;
	padding: 20px 20px 30px 20px;
	margin-bottom: 40px;
}
.optionDivs {
	background-color: black;
	color: white;
	border: 5px solid rgb(5, 184, 184);
	height: 80px;
	width: 400px;
	line-height: 80px;
	border-radius: 30px;
	text-align: center;
	font-size: 20px;
	transition: background 0.3s, border 0.3s;
	cursor: pointer;
}
#optionOneDiv {
	position: relative; 
	right: 225px;
}
#optionTwoDiv {
	position: relative; 
	right: -225px; 
	top: -90px;
}
#optionThreeDiv {
	position: relative; 
	right: 225px; 
	top: -75px;
}
#optionFourDiv {
	position: relative; 
	right: -225px; 
	top: -165px;
}
#question {
	font-size: 30px;
	text-align: center;
}
.quizButtons {
	height: 60px;
	width: 160px;
	font-size: 20px;
	font-weight: 300;
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-color: black;
	color: white;
	border-radius: 40px;
	position: relative;
	margin: 20px 20px 0px 20px;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	position: relative;
	transition: opacity 0.5s, top 0.5s;
	top: 50px;
}
.quizButtons:hover {
	background-color: white;
	border: 3px solid black;
	color: black;
}
#now {
	font-size: 30px;
	color: rgb(140, 0, 0);
	cursor: pointer;
}
#letsFindout {
	font-size: 35px;
	font-weight: 200;
}
#mindBody {
	font-size: 40px;
	font-weight: 600;
	font-family: Georgia, 'Times New Roman', Times, serif;
	line-height: 70px;
}
#quizSection {
	background-image: url("../ProjectPictures/QuizPictures/QuizImage.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 1300px;
	height: 800px;
	position: relative;
	padding: 66px 0px 0px 0px;
	margin: 150px 0px 0px 0px;
	box-shadow: 0px 0px 50px 10px grey;
}
body {
	user-select: none;
	font-family: Arial, Helvetica, sans-serif;
}