.exercisesContainers {margin: 0px 0px 100px 0px;}
#upComingSpan {
    font-size: 25px;
    font-weight: 700;
    user-select: text;
}
#exerciseSteps {
    font-size: 30px;
    text-align: left;
    user-select: text;
}
.styledNumsExercise {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #414141;
    color: #fff;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    padding: 10px 15px 20px 15px;
}
#exerciseTitle {
    font-size: 50px;
    font-weight: 700;
    user-select: text;
}
#exerciseDescription {
    font-size: 30px;
    user-select: text;
}
.videos {
    background-color: gray;
    height: 580px;
    width: 580px;
    border-radius: 30px;
    margin: 0px 5px 0px 5px;
}
#videosContainer {margin: 70px 0px 70px 0px;}
#WorkoutsSection {
    width: 1200px;
    border-radius: 20px;
    height: fit-content;
    background-color: white;
    padding: 50px 50px 80px 50px;
    box-shadow: 0px 5px 20px 10px grey;
    margin: -5px 0px -3px 0px;
}
#underLineNav {
    width: 100px;
    height: 5px;
    background-color: rgb(140, 0, 0);
    position: relative;
    top: -48px;
    right: 104px;
}
body {
    user-select: none;
    height: 1500px;
    background: rgb(200, 200, 200);
    font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (max-width: 1893px) {#underLineNav {right: 162px;}}