.WorkoutCatBtns {
    height: 50px;
    width: 150px;
    border: 1px solid black;
    background-color: black;
    margin: -10px 0px -10px 0px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top 0.3s, opacity 0.3s;
}
#moreWorkoutCatergories {
    visibility: hidden;
    opacity: 0;
    width: fit-content;
    position: relative;
    right: -360px;
    margin: 0px 0px -470px 0px;
    transition: opacity 0.3s, top 0.3s;
}
.workoutButtons {
    width: 150px;
    height: 50px;
    border: 2px solid black;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    margin: 50px -5px 65px -5px;
}